button {
  height: 35px;
  width: 110px;
  border: 1px solid black;
  border-radius: 8%;
  margin: 3px;
}

.success {
  background-color: aqua;
}

.info {
  background-color: blue;
}

.danger {
  background-color: red;
}
