<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div>
  <nav class="nav">
    <a mat-button routerLink="">Inicio</a>
    <a mat-button routerLink="listado">Listado</a>
    <a mat-button routerLink="detalle">Detalle</a>
    <a mat-button routerLink="detalle/honda">Detalle Honda</a>
    <a mat-button routerLink="lmdsaklsdmkla">Error</a>
    <a mat-button routerLink="login">Login</a>
    <a mat-button (click)='logout()' >Logout</a>
  </nav>

  <section class="section">
    <router-outlet></router-outlet>
  </section>

  <footer>
    <h3>Este es el footer</h3>
  </footer>
</div>
