<!-- <span>{{ title }} app is running! {{ 1 + 1}}</span>

<img [src]="imageUrl" alt="Moto" class="img">

<br>
<input type="text" placeholder="Ingrese su nombre" [(ngModel)]="nombre">
<br>

<app-boton (apretar)="onEnviar($event)" [label]="btnLabel">
</app-boton>


<app-boton (apretar)="onEnviar($event)" label="Cancelar" clase="red">
</app-boton>
<br>

<h3>{{ nombre }}</h3> -->

<nav>
  <a mat-button routerLink="">Inicio</a>
  <a mat-button routerLink="listado">Listado</a>
  <a mat-button routerLink="detalle">Detalle</a>
  <a mat-button routerLink="ruta_que_no_exista">Error</a>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <h3>Esto es el footer</h3>
</footer>
