<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div>
  <nav>
    <a mat-button routerLink="">Inicio</a>
    <a mat-button routerLink="listado">Listado</a>
    <a mat-button routerLink="region/europa">Europa</a>
    <a mat-button routerLink="detalle">Detalle</a>
    <a mat-button routerLink="detalle/parametro">Detalle con params</a>
    <a mat-button routerLink="mdmfmklk">Error</a>
  </nav>

  <section>
    <router-outlet></router-outlet>
  </section>

  <footer>
    <h3>Esto es el footer</h3>
  </footer>
</div>
