<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{pais?.flag}} {{pais?.name?.common}}</mat-card-title>
    <mat-card-subtitle>{{pais?.name?.official}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="pais?.coatOfArms?.svg" alt="Escudo de armas">
  <mat-card-content>
    <p>
      <b>CIOC: </b> <em>{{pais?.fifa}}</em>
    </p>
    <p>
      <b>CIOC: </b> <em>{{pais?.cioc}}</em>
    </p>

    <div>
      <p><b>Capital: </b> <em *ngFor="let item of pais?.capital ?? []">{{item}}</em> </p>
      <p><b>Region: </b> <em >{{pais?.region}}</em> </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onClick()" >Ver Detalle</button>
  </mat-card-actions>
</mat-card>
