.example-card {
  width: 450px;
  margin: 5px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

img {
  height: auto;
  width: 450px;
  margin: auto;
}
