button {
  height: 35px;
  width: 100px;
  border-radius: 7%;
  margin: 2px;
}

.success {
  background-color: rgb(71, 236, 236);
}

.info {
  background-color: rgb(178, 241, 52);
}

.danger {
  background-color: rgb(250, 35, 35);
}
