button {
  height: 35px;
  width: 100px;
  border: 1px solid black;
  border-radius: 4%;
  margin: 4px;
}

.aqua {
  background-color: aqua;
}

.red {
  background-color: red;
}

.blue {
  background-color: rgba(96, 96, 189, 0.979);
}
